<footer class="bg-dark text-white mt-auto py-4 text-center">
  <div class="footer-content">
    <a class="mb-3">
      Designed By 
      <a href="https://github.com/Vibhor262425/CALCULATOR-" class="designer-name text-decoration-none fw-bold" target="_blank">
        Vibhor Prajapati
      </a>
    </a>

    <div class="d-flex justify-content-center gap-4 footer-icons">
      <a href="https://www.facebook.com/vibhor.prajapati.75" target="_blank">
        <i class="bi bi-facebook fs-4"></i>
      </a>
      <a href="https://www.instagram.com/_vibhor_.25_/" target="_blank">
        <i class="bi bi-instagram fs-4"></i>
      </a>
      <a href="https://www.linkedin.com/in/vibhor-prajapati-2a449623a/" target="_blank">
        <i class="bi bi-linkedin fs-4"></i>
      </a>
      <a href="https://github.com/Vibhor262425" target="_blank">
        <i class="bi bi-github fs-4"></i>
      </a>
    </div>
  </div>
</footer>

